<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header> 
        <img height="50%" width="50%" src="/images/logo-mercado-liebre.svg"> 
        <div>
               <p> Lugar para poner la barra de búsqueda</p>
               <p>Comprá en cuotas y sin tarjeta de crédito</p>
                <ul>
                  <li><a href="">Ofertas</a></li>  
                  <li><a href="">Tiendas Oficiales</a></li>  
                  <li><a href="">Vender</a></li>  
                  <li><a href="">Ayuda</a></li>  
                  <br>
                  <li><a href="">Creá tu cuenta</a></li>  
                  <li><a href="">Ingresá</a></li>  
                  <li><a href="">Mis Compras</a></li>  
                </ul>
        </div>
    </header>
    <main>
        <!--Seccion: Basado en tu ultima visita-->
        <section id="historial">
            <div>
                <h2><strong>Basado en tu ultima visita</strong></h2>
            </div>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg"></div>        
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg"></div>
                <div>$230.000</div>
                <div>20% off</div>
                <div>MacBook Pro 2019</div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg"></div>
                <div>$70.500</div>
                <div>10% off</div>
                <div>Samsung Galaxy S10</div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg"></div>
                <div>$23.200</div>
                <div>5% off</div>
                <div>SmartTv Samsung 43"</div>
            </div>
        </section>
        <!--Seccion de ofertas-->
        <section id="ofertas">
            <div>
                <h2><strong>Seccion de ofertas</strong></h2>
            </div>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg"></div>
                    <div>$6.770</div>
                    <div>40% OFF</div>
                    <div>Cafetera Moulinex</div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg"></div>
                    <div>$230.000</div>
                    <div>20% off</div>
                    <div>MacBook Pro 2019</div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg"></div>
                <div>$70.500</div>
                <div>10% off</div>
                <div>Samsung Galaxy S10</div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg"></div>
                <div>$23.200</div>
                <div>5% off</div>
                <div>SmartTv Samsung 43"</div>
            </div>
        </section>
    </main>
    <footer>
        <br>
        <div>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <div>
                <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
        </div>
        <div>
            <strong>Envío gratis desde $ 2.500</strong>
            <div>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
        </div>
        <div>
            <strong>Seguridad, de principio a fin</strong>
            <div>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <div> 
            <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
        </div>
    </footer>
</body>
</html>