*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: #EAC926;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p {
 font-size: 12px;
 line-height: 16px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

.precios {
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}

.descripciones{
    font-size: 16px;
}

footer {
    background-color: white;
    text-align: center;
}

h3 {
    padding: 10px;
}
.burger-menu
{
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.burger-menu i
{
    background-color: blue;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
}

.buscar i {
    background-color: white;
    border-radius: 10px;
    margin: auto;
}

article div
{
    margin: 10px;
}

section.banner img{
    width: 100%;
}

main section article{
    background-color: #fff;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main {
    margin: auto;
    width: 90%;
    margin: 10px;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

@media (max-width:360px) {
    .descripciones {
        display: none;
    }
    .site {
        display: none;
    }
}
@media (min-width:361px) {
    .burger-menu {
        display: none;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}

@media (min-width:769px) {
    .burger-menu {
        display: none;
    }
    *{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
}